<!-- SLIDE TOP -->
		<div id="slidetop">

			<div class="container">
				
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> WHY ROCKET ELEVATORS?</h6>
						<p>We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have. </p>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> Address: 418-725 Boulevard Lebourgneuf, <br /> 
								Quebec City - QC, G2J 0C4  <br /> Canada</li>
							<li><b>Phone:</b> (418) 555-1234</li>
							<li><b>Email:</b> <a href="/cdn-cgi/l/email-protection#fc95929a93bc9f9398999e938484d29e9586"><span class="__cf_email__" data-cfemail="3950575f56795a565d5c5b564141175b5043">[email&#160;protected]</span></a></li>
						</ul>
					</div>

				</div>

			</div>

			<a class="slidetop-toggle" href="#"><!-- toggle button --></a>

		</div>
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<!-- scrollTo -->
						<a class="logo float-left scrollTo" href="#top">
              <%= image_tag "_rocket/R2.png" %>
						</a>

						<!-- Top Nav -->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class>
										<!-- HOME -->
										<a id="home-nav" class="scrollTo" href="#top">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a href="#services" class="dropdown-toggle">
											SERVICES
										</a>
										<!-- <a href="#services">
											SERVICES
										</a> -->
										<ul class="dropdown-menu white-space= normal">
											<li>
												<a href="residential.html#vacuum-home">Residential</a>
											</li>
											<li>
												<a href="commercial.html#observation-elevator">Commercial</a>
											</li>
											<li>
												<a href="quote.html#request-quote">Request A Quote</a>
											</li>
										</ul>
									</li>

									<li><!-- PORTFOLIO -->
										<!-- id="portfolio-nav" -->
										<a href="#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>


			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">

				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationstyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Safety">
							<!-- MAIN IMAGE -->
              <%= image_tag "_rocket/residential-elevator.jpeg", data:{:bgposition=>"center top", :bgfit=>"cover", :bgrepeat=>"no-repeat"} %>

							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="471"
								data-y="100" 
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Rocket Elevators
							</div>

							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="530"
								data-y="195" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Elevate you home or your commercial building, <br />
									Safety, Speed and Style.
							</div>

							<div class="tp-caption tp-fade"
								data-x="left"
								data-y="25" 
								data-speed="300"
								data-start="800"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								style="z-index: 4;">
							</div>

							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="665"
								data-y="300" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-danger btn-lg" href="quote.html#request-quote">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>

						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off" data-title="Residential">
							<!-- MAIN IMAGE -->
              <%= image_tag "_rocket/residential-elevator.jpeg", data:{:bgposition=>"center top", :bgfit=>"cover", :bgrepeat=>"no-repeat"} %>

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Residential Elevators  <br />
									Made affordable
									
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									The high-end quality of Our Residential Elevators <br />
									is unequaled.
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-danger btn-lg" href="residential.html">RESIDENTIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>

						<!-- SLIDE  -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off" data-title="Commercial">
							<!-- MAIN IMAGE -->
              <%= image_tag "_rocket/3-commercial-elevators.jpeg", data:{:bgposition=>"center top", :bgfit=>"cover", :bgrepeat=>"no-repeat"} %>

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									A High end brand for <br />
									Commercial Elevators 
									
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									From London to Tokyo... <br />
									our Lifts impress!
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-danger btn-lg" href="commercial.html">COMMERCIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

						</li>

					</ul>

				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->


			<hr class="m-0" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->
			<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30"> 
					<strong>Contact us &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->


			
			<!-- Services -->
			<section id="services">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">
              <%= image_tag "_rocket/awards-services-logo.jpeg" %>
							<h3 class="mt-10">Awards</h3>
							<p>Here's are success story's.</p>
							<a href="#portfolio" class="btn btn-default">READ MORE</a>
						</div>

						<div class="col-sm-4">
              <%= image_tag "_rocket/thompson_cbg_001_062.jpeg" %>	
							<h3 class="mt-10">Residential</h3>
							<p>Rocket Elevators offer you the chance to have your own customize elevator at home!</p>
							<a href="residential.html#vacuum-home" class="btn btn-default">READ MORE</a>
						</div>

						<div class="col-sm-4">
              <%= image_tag "_rocket/people-on-elevator-1.jpeg" %>
							<h3 class="mt-10">Commercial</h3>
							<p>We got the right team for your need.</p>
							<a href="commercial.html#observation-elevator" class="btn btn-default">READ MORE</a>
						</div>
					</div>

				</div>
			</section>
			<!-- /Services -->

			


			<!-- Parallax Contact Us -->
			<section class="parallax parallax-1" style="background-image: url('assets/images/_rocket/Engineering-3.jpeg');">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-300">Engineering &amp; Maintenance, Since 1976</h2>
						<a class="btn btn-default btn-lg" href="quote.html">GET A QUOTE <i class="fa fa-angle-right"></i></a> 
						&nbsp; OR &nbsp; 
						<a class="btn btn-danger btn-lg" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
			<!-- /Parallax Contact Us -->




			<!-- PORTFOLIO -->
			<section id="portfolio">
				
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h1>Portfolio</h1>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
							<li data-filter="all" class="filter active"><a href="#">All</a></li>
							<li data-filter="awards" class="filter"><a href="#">Awards</a></li> 
							<li data-filter="residential" class="filter"><a href="#">Residential</a></li> <!--Photography-->
							<li data-filter="commercial" class="filter"><a href="#">Commercial &amp; Corporate</a></li> 
						</ul>
					</div>

				</div>

				<div class="portfolio-nogutter">

						<div class="row mix-grid">

							<div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

								<div class="item-box">
									<figure>
                    <%= image_tag "_rocket/portfolio/corp/600x300/1-commercial-3-burj-resize.jpeg" %>
									</figure>

									<div class="item-box-desc">
										<h3>Golden Burj Khalifa</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
                    <%= image_tag "_rocket/portfolio/awards/600x300/1-award-sec-awards-buildings-201-resize.jpeg" %>
									</figure>

									<div class="item-box-desc">
										<h3>Buildings 2019 Money-Saving Product</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Award</a></li>
											
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
                    <%= image_tag "_rocket/portfolio/residential/600x300/1-condo-modern-design-resize.jpeg" %>
									</figure>

									<div class="item-box-desc">
										<h3>Condo Modern Design</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

								<div class="item-box">
									<figure>
                    <%= image_tag "_rocket/portfolio/corp/600x300/2-tower-super-view-resize.jpeg" %>
									</figure>

									<div class="item-box-desc">
										<h3>Tower Super View</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
											
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
                    <%= image_tag "_rocket/portfolio/awards/600x300/2-award-sec-awards-architizer-20-resize.jpeg" %>
									</figure>

									<div class="item-box-desc">
										<h3>Architizer A+ Finalist 2016</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Award</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
                    <%= image_tag "_rocket/portfolio/residential/600x300/2-residential-3-house-resize.jpeg" %>
									</figure>

									<div class="item-box-desc">
										<h3>House Elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

								<div class="item-box">
									<figure>
                    <%= image_tag "_rocket/portfolio/corp/600x300/3-high-end-berlin-resize.jpeg" %>
									</figure>

									<div class="item-box-desc">
										<h3>High-end Design Berlin</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Corporate</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
                    <%= image_tag "_rocket/portfolio/residential/600x300/3-glass-condominium-resize.jpeg" %>
									</figure>

									<div class="item-box-desc">
										<h3>Glass Condominium</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
                    <%= image_tag "_rocket/portfolio/residential/600x300/4-Glass-capsule-resize.jpeg" %>
									</figure>

									<div class="item-box-desc">
										<h3>Glass Capsule</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
                    <%= image_tag "_rocket/portfolio/awards/600x300/3-award-elevator-2016-resize.jpeg" %>
									</figure>

									<div class="item-box-desc">
										<h3>Elevators Awards 2016</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Award</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

								<div class="item-box">
									<figure>
                    <%= image_tag "_rocket/portfolio/corp/600x300/4-corporate-elevator-resize.jpeg" %>
									</figure>

									<div class="item-box-desc">
										<h3>Corporate Elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Corporate</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->



							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
                    <%= image_tag "_rocket/portfolio/awards/600x300/4-the-ellies-2020-resize.png" %>
									</figure>

									<div class="item-box-desc">
										<h3>The Ellies 2020</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Award</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


						</div>


				</div>
			</section>
			<!-- /PORTFOLIO -->



			<!-- Testimonials -->
			<section class="section-xs dark">
				<div class="container">

					<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div class="testimonial">
							<figure>
                <%= image_tag "_rocket/testimonials/1-CEO-Patrick-Thibault.jpeg", :class=>"rounded" %>
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">CEO</p>
								<cite>
									Patrick Thibault
									<span>Rocket Elevators</span>
								</cite>
							</div>
						</div>
						<div class="testimonial">
							<figure>
                <%= image_tag "_rocket/testimonials/2-employee-of-the-month.jpg", :class=>"rounded" %>
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Employee Of The Month</p>
								<cite>
									Jones Tavares
									<span>Rocket Elevators</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /Testimonials -->




			<!-- News -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>News</h2>
					</div>

					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						
						<div class="img-hover">
							<a href="https://elevatorworld.com/news/daily-news/rezoning-for-chicago-mixed-use-development-approved/" target="_blank">
                <%= image_tag "_rocket/news/news-thumb-3.png", :class=>"img-fluid", :width=>"451", :height=>"300" %>
							</a>

							<h4 class="text-left mt-20"><a href="https://elevatorworld.com/news/daily-news/rezoning-for-chicago-mixed-use-development-approved/" target="_blank">Rezoning for Chicago Mixed-Use Development Approved</a></h4>
							
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									20th Sep 2021
								</li>
								<li>
									<a href="blog-single-default.html#comments">
										<i class="fa fa-comments"></i> 
										3
									</a>
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://elevatortoday.com/2014/05/02/hyundai-elevator-called-foot/" target="_blank">
								<%= image_tag "_rocket/news/news-thumb-4.png", :class=>"img-fluid", :width=>"451", :height=>"300" %>
							</a>

							<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2014/05/02/hyundai-elevator-called-foot/" target="_blank">Touchless footbutton by Hyundai elevator</a></h4>
							
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									14th May 2014
								</li>
								<li>
									<a href="blog-single-default.html#comments">
										<i class="fa fa-comments"></i> 
										3
									</a>
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://elevatortoday.com/2012/10/13/mezolift-first-solar-elevator/" target="_blank">
								<%= image_tag "_rocket/news/news-thumb-5.jpeg", :class=>"img-fluid", :width=>"451", :height=>"300" %>
							</a>
							<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2012/10/13/mezolift-first-solar-elevator/" target="_blank">Mezolift first solar elevator!</a></h4>
							
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									13th Oct 2012
								</li>
								<li>
									<a href="blog-single-default.html#comments">
										<i class="fa fa-comments"></i> 
										2
									</a>
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://elevatortoday.com/2014/09/12/euro-lift-2012-wrap-up/" target="_blank">
                <%= image_tag "_rocket/news/news-thumb-6.jpeg", :class=>"img-fluid", :width=>"451", :height=>"300" %>
							</a>
							<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2014/09/12/euro-lift-2012-wrap-up/" target="_blank">EURO-LIFT Elevator Expo</a></h4>
							
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									12th Sep 2014
								</li>
								<li>
									<a href="blog-single-default.html#comments">
										<i class="fa fa-comments"></i> 
										7
									</a>
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://elevatortoday.com/2018/01/18/magic-mirror-for-elevators/" target="_blank">
                <%= image_tag "_rocket/news/news-thumb-7.png", :class=>"img-fluid", :width=>"451", :height=>"300" %>
							</a>
							<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2018/01/18/magic-mirror-for-elevators/" target="_blank">Magic Mirror for Elevators</a></h4>
							
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									18th Jan 2018
								</li>
								<li>
									<a href="blog-single-default.html#comments">
										<i class="fa fa-comments"></i> 
										2
									</a>
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://elevatortoday.com/2017/06/06/hitachis-elevator-reaches-4134-fpm/" target="_blank">
								<%= image_tag "_rocket/news/news-thumb-8.jpeg", :class=>"img-fluid", :width=>"451", :height=>"300" %>
							</a>
							<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2017/06/06/hitachis-elevator-reaches-4134-fpm/" target="_blank">Hitachi’s Elevator Reaches 4134 fpm</a></h4>
							
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									06th Jun 2017
								</li>
								<li>
									<a href="blog-single-default.html#comments">
										<i class="fa fa-comments"></i> 
										1
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</section>
			<!-- /News -->




			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Customers</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                <%= image_tag "_rocket/clients/1-marriott-resize.png", :class=>"img-fluid" %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                <%= image_tag "_rocket/clients/2-Hilton-resize.png", :class=>"img-fluid" %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                <%= image_tag "_rocket/clients/3-Hyatt.png", :class=>"img-fluid" %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                <%= image_tag "_rocket/clients/4-IHG-resize.png", :class=>"img-fluid" %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                <%= image_tag "_rocket/clients/5-burj-khalifa-removebg-2.png", :class=>"img-fluid" %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                <%= image_tag "_rocket/clients/6-empire-state-removebg-2.png", :class=>"img-fluid" %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                <%= image_tag "_rocket/clients/7-the-gherkin-removebg.png", :class=>"img-fluid" %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                <%= image_tag "_rocket/clients/8-fairmont-chateau-removebg.png", :class=>"img-fluid" %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                <%= image_tag "_rocket/clients/9-calgary-tower-removebg.png", :class=>"img-fluid" %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                <%= image_tag "_rocket/clients/10-capitol-records-removebg.png", :class=>"img-fluid" %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                <%= image_tag "_rocket/clients/11-skylon-tower-removebg.png", :class=>"img-fluid" %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                <%= image_tag "_rocket/clients/12-caesars-palace-removebg.png", :class=>"img-fluid" %>
							</a>
						</li>
					</ul>

				</div>
			</section>
			<!-- /Clients -->





			<!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Contact Us</h2>
						<p class="lead font-lato">It will be our pleasure to answer questions that you might have.</p>
						<hr />
					</header>


					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">

							<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->


							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->


							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->


							<form action="php/contact.php" method="post" enctype="multipart/form-data">
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<div class="row">
											<div class="col-md-4">
												<label for="contact:name">Full Name *</label>
												<input required type="text" value="" class="form-control" name="contact[name][required]" id="contact:name">
											</div>
											<div class="col-md-4">
												<label for="contact:email">E-mail Address *</label>
												<input required type="email" value="" class="form-control" name="contact[email][required]" id="contact:email">
											</div>
											<div class="col-md-4">
												<label for="contact:phone">Phone</label>
												<input type="text" value="" class="form-control" name="contact[phone]" id="contact:phone">
											</div>
									</div>
									<div class="row">
											<div class="col-md-4">
												<label for="contact:name">Business Name *</label>
												<input required type="text" value="" class="form-control" name="contact[name][required]" id="contact:business">
											</div>
											<div class="col-md-8">
												<label for="contact:name">Project Name *</label>
												<input required type="name" value="" class="form-control" name="contact[email][required]" id="contact:project">
											</div>
									</div>
									<div class="row">
											<div class="col-md-8">
												<label for="contact:subject">Project Description *</label>
												<input required type="text" value="" class="form-control" name="contact[subject][required]" id="contact:subject">
											</div>
											<div class="col-md-4">
												<label for="contact_department">Department</label>
												<select class="form-control pointer" name="contact[department]">
													<option value="">--- Select ---</option>
													<option value="Marketing">Residential</option>
													<option value="Webdesign">Commercial & Corporate</option>
													<option value="Architecture">Maintenance</option>
												</select>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label for="contact:message">Message *</label>
												<textarea required maxlength="10000" rows="8" class="form-control" name="contact[message]" id="contact:message"></textarea>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label for="contact:attachment">File Attachment</label>

												<!-- custom file upload -->
												<input class="custom-file-upload" type="file" id="file" name="contact[attachment]" id="contact:attachment" data-btn-text="Select a File" />
												<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

											</div>
									</div>

								</fieldset>

								<div class="row">
									<div class="col-md-12">
										<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
									</div>
								</div>
							</form>

						</div>
						<!-- /FORM -->


						<!-- INFO -->
						<div class="col-md-4 col-sm-4">

							<h2>Visit Us</h2>

							
							<div> <!--id="map2" class="h-400"-->
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2729.0429937847675!2d-71.28188348468983!3d46.84284354841674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb897dddd400001%3A0x45e8d9babd84eb09!2s725%20Bd%20Lebourgneuf%20%23418%2C%20Quebec%20City%2C%20QC%20G2J%200C4!5e0!3m2!1spt-BR!2sca!4v1632278869332!5m2!1spt-BR!2sca" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen aria-hidden="false" tabindex="0"></iframe>
							</div>

							<hr />

							<p>
								<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 418-725 Boulevard Lebourgneuf, Québec, QC G2J 0C4, Canada</span>
								<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1800-555-1234">(418) 555-1234</a></span>
								<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="/cdn-cgi/l/email-protection#e68f888089a68589828384899e9ec885898b"><span class="__cf_email__" data-cfemail="442d2a222b04272b2021262b3c3c6a272b29">[email&#160;protected]</span></a></span>
							</p>

						</div>
						<!-- /INFO -->

					</div>

				</div>
			</section>
			<!-- /CONTACT -->




			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have.
							</p>
							<h2>(418) 555-1234</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-danger" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>


				</div>

				<div class="copyright">
					<div class="container">
						&copy; All Rights Reserved, Rocket Elevators LTD
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>