<!-- SLIDE TOP -->
		<div id="slidetop">

			<div class="container">
				
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> WHY ROCKET ELEVATORS?</h6>
						<p>We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have. </p>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> Address: 418-725 Boulevard Lebourgneuf, <br /> 
								Quebec City - QC, G2J 0C4  <br /> Canada</li>
							<li><b>Phone:</b> (418) 555-1234</li>
							<li><b>Email:</b> <a href="/cdn-cgi/l/email-protection#c6afa8a0a986a5a9a2a3a4a9bebee8a4afbc"><span class="__cf_email__" data-cfemail="573e393138173438333235382f2f79353e2d">[email&#160;protected]</span></a></li>
						</ul>
					</div>

				</div>

			</div>

			<a class="slidetop-toggle" href="#"><!-- toggle button --></a>

		</div>
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left" href="index.html">
              <%= image_tag "_rocket/R2.png" %>
						</a>

						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class>
										<!-- HOME -->
										<a id="home-nav" class="" href="index.html">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a href="index.html#services" class="dropdown-toggle">
											SERVICES
										</a>
										
										<ul class="dropdown-menu white-space= normal">
											<li>
												<a href="commercial.html#observation-elevator">Commercial</a>
											</li>
											<li>
												<a href="quote.html#request-quote">Request A Quote</a>
											</li>
										</ul>
									</li>

									<li><!-- PORTFOLIO -->
										<a href="index.html#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="index.html#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="index.html#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="index.html#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>



			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
				
				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationstyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Safety">
							<!-- MAIN IMAGE -->
              <%= image_tag "_rocket/3-main-elevators.jpeg", data: {:bgposition=>"center top", :bgfit=>"cover", :bgrepeat=>"no-repeat"} %>

							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="471"
								data-y="100" 
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Rocket Elevators
							</div>

							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="530"
								data-y="195" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Elevate you home or your commercial building, <br />
									Safety, Speed and Style.
							</div>

							<div class="tp-caption tp-fade"
								data-x="left"
								data-y="25" 
								data-speed="300"
								data-start="800"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								style="z-index: 4;">
									<!-- <img src="demo_files/images/thematics/construction/worker-min.png" alt=""> -->
							</div>

							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="665"
								data-y="300" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-danger btn-lg" href="quote.html">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>

						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off" data-title="Residential">
							<!-- MAIN IMAGE -->
              <%= image_tag "_rocket/residential-elevator.jpeg", data:{:bgposition=>"center top", :bgfit=>"cover", :bgrepeat=>"no-repeat"} %>

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Residential Elevators  <br />
									Made affordable
									
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									The high-end quality of Our Residential Elevators <br />
									is unequaled.
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-danger btn-lg" href="residential.html">RESIDENTIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

						</li>

						<!-- SLIDE  -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off" data-title="Commercial">
							<!-- MAIN IMAGE -->
              <%= image_tag "_rocket/3-commercial-elevators.jpeg", data:{:bgposition=>"center top", :bgfit=>"cover", :bgrepeat=>"no-repeat"} %>

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									A High end brand for <br />
									Commercial Elevators 
									
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									From London to Tokyo... <br />
									our Lifts impress!
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-danger btn-lg" href="commercial.html">COMMERCIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

						</li>

					</ul>
                    <div class="tp-bannertimer"><!-- progress bar --></div>
				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->


			<hr class="m-0" /><!-- 1px line separator -->

            <!-- Vacuum Home Elevator -->
			<section id="vacuum-home">
				<div class="container text-center">
					<div class="heading-title heading-dotted text-center">
						<h2>Residential</h2>
					</div>

					<div class="row text-left">

						<div class="col-sm-8">
              <%= image_tag "_rocket/residential-page/1-vacuum-elevator-resize.jpeg" %>
						</div>

						<div class="col-sm-4">
							<h3 class="fw-300"><span>Vacuum</span> Home Elevator</h3>
						
							<p>Rocket Elevators residential elevators are different in every way from traditional designs. This leads many consumers to question what exactly they do differently, and why a vacuum elevator is a better solution for the home than a traditional weights-and-pulleys lift.</p>
							<p>Here is a quick look at some of the clear advantages vacuum residential elevators have over their older cousins:</p>
							
							
							<hr />

							<ul class="list-unstyled list-icons">
								<li><i class="fa fa-check"></i> No need for excavation, a pit, machine room, or hoist. Vacuum elevators run entirely on self-contained mechanics.</li>
								<li><i class="fa fa-check"></i> Total safety. In the event of a power outage, the lift floats softly to the ground on a cushion of air and automatically opens the lower door.</li>
								<li><i class="fa fa-check"></i> Eco-friendly. Vacuum elevators use minimal electricity on the ascent and none on the descent. It’s all about gravity.</li>
								<li><i class="fa fa-check"></i> Low maintenance. Our lifts need their main seal replaced once every five years or 15,000 lifts. That’s all.</li>
								<li><i class="fa fa-check"></i> Smooth, quiet operation. Installing a vacuum elevator is the least intrusive method of handling a vertical mobility issue in your home.</li>
							</ul>

						</div>
					</div>

				</div>
			</section>
			<!-- /Vacuum Home Elevator -->


			<!-- Apartment Building Elevetor -->
			<section id="apartment-elevator">
				<div class="container text-center">

					<div class="row text-left">

						<div class="col-sm-8">
              <%= image_tag "_rocket/residential-page/2-apartment-building-elevator-resize.jpeg" %>
						</div>

						<div class="col-sm-4">
							<h3 class="fw-300"><span>Apartment</span> Building Elevator</h3>
						
							<p>Gearless elevators with or without machine room, to make housing accessible to everyone. Quiet elevators that provide comfort and convenience. Provided with the latest technology, incorporating LED lighting and automatic switch-off systems when elevator is not in use, thereby improving energy efficiency for the elevators and respecting the environment.</p>
							
							
							
							<hr />

							<ul class="list-unstyled list-icons">
								<li><i class="fa fa-check"></i> Available with or without a machine room.</li>
								<li><i class="fa fa-check"></i> High efficiency for housing. Optimal use of space and the latest direct drive technology (Gearless).</li>
								<li><i class="fa fa-check"></i> The basic solution. The latest technology in an affordable and functional version.</li>
								<li><i class="fa fa-check"></i> Completely customisable, maximum flexibility with better performance.</li>
								
							</ul>

						</div>
					</div>

				</div>
			</section>
			<!-- /Apartment Building Elevetor -->




			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have.
							</p>
							<h2>(418) 555-1234</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-danger" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>


				</div>

				<div class="copyright">
					<div class="container">
						&copy; All Rights Reserved, Rocket Elevators LTD
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>